/* header (navbar) */

.header {
  background: brown;
  width: 100%;
  height: 100%;
  position: sticky;
  inset: 0;
  z-index: 3;
}

.fancy-link {
  position: relative;
  color: #f4f4f4;
}

.fancy-link::after {
  content: "";
  height: 2px;
  width: 100%;
  transform: scaleX(0);
  transform-origin: right;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: transform 250ms ease-in;
  background: currentColor;
}

.fancy-link:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.header ul {
  display: flex;
  gap: 4rem;
  font-size: 1.5rem;
  padding: 1rem 2rem;
  align-items: center;
}

.header ul:first-child {
  margin-left: 20px;
}

.header li {
  list-style: none;
}

.header li a {
  text-decoration: none;
  color: #f4f4f4;
  cursor: pointer;
  transition: all 0.15s ease-in;
}

.header li a:hover {
  color: rgb(250, 170, 170);
}

/* *************************** */
