/* Section5 */

.scrollToTop {
  display: inline-block;
  width: fit-content;
  position: sticky;
  inset: auto 2rem 2rem 2rem;
}

.scrollToTop a {
  cursor: pointer;
  transition: all 0.2s ease-in;
  color: #f4f4f4;
  text-decoration: none;
  background: brown;
  padding: 0.5rem;
  font-weight: bold;
  font-size: 1.1rem;
}

.scrollToTop a:hover {
  color: brown;
  background: #f4f4f4;
  padding: 0.7rem;
}

/* ********* */
